<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>About CrumbTrail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" > </script>
	<link rel="stylesheet" href="../css/about.css" type="text/css"/>
	<link rel="stylesheet" href="../css/toolbar.css" type="text/css"/>
	<script type="text/javascript" src="../js/facebook.js"></script>
</head>
		
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
    		<a class="navbar-brand" href="../index.html">CrumbTrail</a>
    	</div>
    	<ul class="nav navbar-nav navbar-right">
   			<li><a href="about.html">About</a></li>
      		<li id="fb-login"><a id="login-check"> Checking Login Status... </a></li>
    	</ul>
  	</div>
</nav> 
<!-- <img src="../img/about_background.png" alt="hello"> -->
<div id="margin">
	<div class="container">
		<div class="row">
		</div>
		<div class="row">
			<div class="col-md-6" id="text"> 
				<h1> About CrumbTrail </h1>
				<p> CrumbTrail is a web application that helps you find restaurants of your liking between a designated starting and ending point. The idea is that never again do you have to struggle through road trip having to find restaurants and not knowing where to search from. Check out our team! </p>
			</div>
			<div class="col-md-3" id="collage"> 
				<img src="../img/collage.jpg" alt="Collage" height="400" width="400">
			</div>
		</div>
	</div>
</div>

</body>
</html>