<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>CrumbTrail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" ></script>
	<script src="https://cdn.jsdelivr.net/jquery.typeit/3.0.1/typeit.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&amp;libraries=places"></script>
	<link rel="stylesheet" href="../css/past_searches.css" type="text/css"/>
	<link rel="stylesheet" href="../css/toolbar.css" type="text/css"/>
	<script type="text/javascript" src="../js/facebook.js"></script>
	<script type="text/javascript" src="../js/past_searches.js"></script>
</head>
<body>
<!-- navbar  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"> CrumbTrail </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
   		<li><a href="partial/about.html"> About </a></li>
		<li id="fb-login"><a id="login-check"></a></li>
    </ul>
  </div>
</nav>
<div class="container">

	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 box">
		<p>Starting point: </p>
		<p>Destination: </p>
		<p>Food Preference: </p>
		<p>Search Time: </p>
	</div>
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 box">
		<p>Starting point: </p>
		<p>Destination: </p>
		<p>Food Preference: </p>
		<p>Search Time: </p>
	</div>
</div>
</body>
</html>